backend/.keyfile/*
backend/.vscode/*
*/server/node_modules/*
backend/crawl/test.txt
backend/server/.env
backend/server/filebaseAdmin.json
backend/server/userdata/*
# Google Services (e.g. APIs or Firebase)
google-services.json


